*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
display: inline;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   
    
} 
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99
}   

